<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
  <appSettings>
    <add key="ReadingCollection Logs" value="C:\Users\se\source\repos\SystemTrayApp\SystemTrayApp\bin\ReadingLogs"/>
    <add key="NFS Cleanup Logs" value="C:\Users\se\source\repos\SystemTrayApp\SystemTrayApp\bin\NFSLogs"/>
    <add key="Summary Logs" value="C:\Users\se\source\repos\SystemTrayApp\SystemTrayApp\bin\Logs"/>
  </appSettings>

</configuration>
